# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

.env

release/app/dist
release/build
.erb/dll
.vscode
.webpack
desktopKoiiNodeDB
wallets
namespace
executables
appdata
desktop-node.iml
.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts
adapters
koii
koii\\*
adapters\\*

**/.npmrc
test-output

